*.pyc
*.jpg
*.log
*.png
settings.json
legacy/ot2_ssh_key
legacy/
settings/
misc/
experiments/
test_files/
hardware/sensor/*.txt
playbook.ipynb
test_camera.py
test_protocol.py
image_analysis_figure.py
bw_figures/
figure_notebook_bw.ipynb
prep/