*.pyc
*.jpg
*.png
*.log
settings.json
!prep/*.csv
legacy/ot2_ssh_key
legacy/
settings/
misc/
experiments/**/*.json
experiments/**/*.log
experiments/**/*.txt
hardware/sensor/*.txt
playbook.ipynb
test_camera.py
test_protocol.py
image_analysis_figure.py
requirements.txt

