*.pyc
*.jpg
*.csv
*.png
!prep/*.csv
legacy/ot2_ssh_key
legacy/
settings/
experiments/**/*.json
experiments/**/*.log
hardware/sensor/*.txt
playbook.ipynb
test_camera.py
test_protocol.py
camera_cal.ipynb
test_analysis.py